/* Primary Color Pallette */
/* Neutral Color Pallette */
/* Layout */
.attribution {
  font-size: 0.8rem;
  text-align: center;
}

.attribution a {
  color: #1F3251;
}

/* Loading Page */
#loading-page {
  align-items: center;
  background-color: #F0F0F0;
  justify-content: center;
  min-height: 100vh;
  padding-top: 8%;
  text-align: center;
  vertical-align: middle;
}

.loading-text {
  font-size: 1.4rem;
  padding: 15px;
}

/* Home Page */
#home-page {
  align-items: center;
  background-color: #F0F0F0;
  justify-content: center;
  min-height: 100vh;
  padding: 8%;
}

/* CatFact Component */
#cat-fact {
  background-color: #617A55;
  border-radius: 7px;
  justify-content: center;
  margin-top: 10%;
  min-height: 20vh;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  position: relative;
  text-align: center;
  vertical-align: middle;
}

.cat-image-wrapper {
  border-radius: 50% !important;
  height: 10vh !important;
  left: 0px;
  margin: auto;
  overflow: hidden;
  position: absolute;
  right: 0px;
  text-align: center;
  top: -40px;
  width: 10vh !important;
}

.fact-text {
  color: #FFFFFF;
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.divider {
  background-color: #FFF8D6;
  color: #FFF8D6;
  height: 2px;
}

.cat-btn {
  background-color: #FFF8D6;
  border: 0 !important;
  border-radius: 50%;
  bottom: -14px;
  box-shadow: none;
  color: #617A55;
  height: 8vh !important;
  left: 0px;
  margin: auto;
  outline: none !important;
  position: absolute;
  right: 0px;
  text-align: center;
  width: 8vh !important;
}

.cat-btn:hover {
  background-color: #A4D0A4;
  color: #FFF8D6;
}