@import "./styles_variables.scss";

/* Layout */
.attribution { 
  font-size: 0.8rem;
  text-align: center; 
}

.attribution a { 
  color: $darkBlue; 
}

/* Loading Page */
#loading-page {
  align-items: center;
	background-color: $offWhite;
	justify-content: center;
	min-height: 100vh;
	padding-top: 8%;
	text-align: center;
	vertical-align: middle;
}

.loading-text {
  font-size: 1.4rem;
  padding: 15px;
}

/* Home Page */
#home-page {
  align-items: center;
	background-color: $offWhite;
	justify-content: center;
	min-height: 100vh;
	padding: 8%;
}

/* CatFact Component */
#cat-fact {
  background-color: $darkGreen;
	border-radius: 7px;
	justify-content: center;
	margin-top: 10%;
	min-height: 20vh;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	vertical-align: middle;
}

.cat-image-wrapper {
  border-radius: 50% !important;
	height: 10vh !important;
	left: 0px;
	margin: auto;
	overflow: hidden;
	position: absolute;
	right: 0px;
	text-align: center;
	top: -40px;
	width: 10vh !important;
}

.fact-text {
  color: $white;
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.divider {
  background-color: $yellow;
  color: $yellow;
  height: 2px;
}

.cat-btn {
  background-color: $yellow;
	border: 0 !important;
	border-radius: 50%;
	bottom: -14px;
	box-shadow: none;
	color: $darkGreen;
	height: 8vh !important;
	left: 0px;
	margin: auto;
	outline: none !important;
	position: absolute;
	right: 0px;
	text-align: center;
	width: 8vh !important;
}

.cat-btn:hover {
  background-color: $green;
  color: $yellow;
}