/* Primary Color Pallette */
$yellow: #FFF8D6;
$beige: #F7E1AE;
$green: #A4D0A4;
$darkGreen: #617A55;

/* Neutral Color Pallette */
$white: #FFFFFF;
$offWhite: #F0F0F0;
$lightGrey: #DBDBDB;
$grayishBlue: #7B879D;
$darkBlue: #1F3251;